ul {
    list-style-type: none;

}


.header, .footer {
    background-color: rgba(31,41,55,255);
}

h3 , h1 , a, .footer p, .header p{
    color:white;
}

p {
    color:rgba(137,144,153,255);
}


a {
    text-decoration: none;
}


.quote {
    background-color: rgba(229,231,235,255);
    
}


















/*----------------------FLEXBOX----------------------------*/


body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
    margin: 0;
}

.header {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    gap:20px;
    padding: 0px 90px 50px;
}

.toplinks {
    display: flex;
    justify-content: space-between;
}

ul {
    display:flex;
    justify-content: space-between;
    gap:20px
}

.head {
    display:flex;
    justify-content: space-between;
    gap:50px;
}

.title {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    display:flex;
    justify-content:center;
}

.quote {
    
}