ul {
    list-style-type: none;

}


.header, .footer {
    background-color: rgba(31,41,55,255);
}

h3 , h1 , a, .footer p, .header p, .sign_up p{
    color:white;
}

.information h1 {
    color:black;

}

p {
    color:rgba(137,144,153,255);
    font-size:18px;
}


a {
    text-decoration: none;
}


.quote {
    background-color: rgba(229,231,235,255);
    
}

h1 {
    font-size:48px;
    font-weight:900;
}

h3 {
    font-size:24px;
}

button {
    background-color: #3882F6;
    color:white;
    padding:8px 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.sign_up {
    background-color:#3882F6;
}

.sign_up p {
    font-size: 12px;
}

.sign button {
    border: 1px solid white;
    margin-top:20px;
}









/*----------------------FLEXBOX----------------------------*/


body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:30px;
    margin: 0;
}

.header {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    gap:20px;
    padding: 0px 90px 50px;
}

.toplinks {
    display: flex;
    justify-content: space-between;
}

ul {
    display:flex;
    justify-content: space-between;
    gap:20px
}

.head {
    display:flex;
    justify-content: space-between;
    gap:50px;
}

.title {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    display:flex;
    justify-content:center;
}

.information {
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:30px;
}

.illustration {
    display:flex;
    justify-content: space-evenly;
    gap:30px;
    padding:30px;
}

.quote {
    display:flex;
    justify-content: center;
}

.from {
    padding:0px 30px;
    margin-top:40px;
}

.quote p {
    max-width: 500px;
}

.sign_up {
    display:flex;
    align-items: center;
    padding:0px 30px 30px;
    border-radius: 10px;
}

.sign {
    display:flex;
    align-items:center;
    justify-content: center;
}